h1,h2,h3,h4,h5,h6,body,input,ul,dl,ol,li,dd,p {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
img,input {
    vertical-align: top;
    border: none;
    outline: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
    height: 0px;
    width: 0px;
}
.clearfix {
    zoom:1;
}
.fl {
    float: left;
}
.fr {
    float: right;
}





/*3d¶¯»­*/

